<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.lapasa.rfdhotdealswidget"
    android:versionCode="12"
    android:versionName="3.00">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:installLocation="internalOnly"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".DealsWidgetProvider"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="net.lapasa.rfdhotdealswidget.ACTION_WIDGET_RECEIVER" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/rfdhotdeals_appwidget_info" />
        </receiver>

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ConfigurationActivity"
            android:theme="@style/AppBaseTheme" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Set these service's exported=false because we don't want other apps to use these -->
        <service
            android:name="net.lapasa.rfdhotdealswidget.services.RefreshUIService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="net.lapasa.rfdhotdealswidget.services.InvalidateDataStoreService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name="net.lapasa.rfdhotdealswidget.services.MarkNewsItemReadService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>
